USE [QL_TUDIEN]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 8/13/2020 5:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[KHACHHANG](
	[TAIKHOAN] [nvarchar](30) NOT NULL,
	[MATKHAU] [nvarchar](20) NOT NULL,
	[TENNGUOIDUNG] [nvarchar](max) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [bit] NULL,
	[DIACHI] [int] NULL,
	[EMAIL] [nvarchar](100) NULL,
	[SDT] [char](10) NULL,
 CONSTRAINT [PK_KH] PRIMARY KEY CLUSTERED 
(
	[TAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAITU]    Script Date: 8/13/2020 5:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAITU](
	[MALOAI] [char](5) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
	[NGHIALOAITU] [nvarchar](100) NULL,
 CONSTRAINT [PK_LOAITU] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TINHTHANH]    Script Date: 8/13/2020 5:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINHTHANH](
	[MATINH] [int] IDENTITY(1,1) NOT NULL,
	[TENTINH] [nvarchar](max) NULL,
 CONSTRAINT [PK_TINH] PRIMARY KEY CLUSTERED 
(
	[MATINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TU]    Script Date: 8/13/2020 5:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TU](
	[TUVUNG] [char](30) NOT NULL,
	[MALOAI] [char](5) NOT NULL,
	[PHIENAM] [nvarchar](100) NULL,
	[NGHIA] [nvarchar](max) NULL,
 CONSTRAINT [PK_TU] PRIMARY KEY CLUSTERED 
(
	[TUVUNG] ASC,
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TuDienKhachHang]    Script Date: 8/13/2020 5:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TuDienKhachHang](
	[Tu] [char](30) NOT NULL,
	[LoaiTu] [char](5) NOT NULL,
	[PhienAm] [nvarchar](100) NULL,
	[Nghia] [nvarchar](max) NULL,
	[TaiKhoan] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_TuDienKhachHang] PRIMARY KEY CLUSTERED 
(
	[Tu] ASC,
	[LoaiTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TUYEUTHICH]    Script Date: 8/13/2020 5:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TUYEUTHICH](
	[TUVUNG] [char](30) NOT NULL,
	[MALOAI] [char](5) NOT NULL,
	[TAIKHOAN] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_TUYT] PRIMARY KEY CLUSTERED 
(
	[TUVUNG] ASC,
	[MALOAI] ASC,
	[TAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[KHACHHANG] ([TAIKHOAN], [MATKHAU], [TENNGUOIDUNG], [NGAYSINH], [GIOITINH], [DIACHI], [EMAIL], [SDT]) VALUES (N'diem', N'1234', N'DTMD', CAST(0x9A220B00 AS Date), 1, 44, N'diem@gmail.com', N'0123921321')
INSERT [dbo].[KHACHHANG] ([TAIKHOAN], [MATKHAU], [TENNGUOIDUNG], [NGAYSINH], [GIOITINH], [DIACHI], [EMAIL], [SDT]) VALUES (N'mydiem', N'111', N'diemm', CAST(0x9A220B00 AS Date), 1, 44, NULL, NULL)
INSERT [dbo].[KHACHHANG] ([TAIKHOAN], [MATKHAU], [TENNGUOIDUNG], [NGAYSINH], [GIOITINH], [DIACHI], [EMAIL], [SDT]) VALUES (N'thuyduong', N'123456', N'Nguyễn Thị Thùy Dương', CAST(0x65230B00 AS Date), 1, 44, N'thuyduong@gmail.com', N'0934343433')
INSERT [dbo].[LOAITU] ([MALOAI], [TENLOAI], [NGHIALOAITU]) VALUES (N'1    ', N'Noun', N'Danh từ')
INSERT [dbo].[LOAITU] ([MALOAI], [TENLOAI], [NGHIALOAITU]) VALUES (N'2    ', N'Verb', N'Động từ')
INSERT [dbo].[LOAITU] ([MALOAI], [TENLOAI], [NGHIALOAITU]) VALUES (N'3    ', N'Adj', N'Tính từ')
SET IDENTITY_INSERT [dbo].[TINHTHANH] ON 

INSERT [dbo].[TINHTHANH] ([MATINH], [TENTINH]) VALUES (1, N'Hòa Bình')
INSERT [dbo].[TINHTHANH] ([MATINH], [TENTINH]) VALUES (2, N'Sơn La')
INSERT [dbo].[TINHTHANH] ([MATINH], [TENTINH]) VALUES (3, N'Điện Biên')
SET IDENTITY_INSERT [dbo].[TINHTHANH] OFF
INSERT [dbo].[TU] ([TUVUNG], [MALOAI], [PHIENAM], [NGHIA]) VALUES (N'abacus                        ', N'1    ', N'/æbзkзs/', N'bàn tính')
INSERT [dbo].[TU] ([TUVUNG], [MALOAI], [PHIENAM], [NGHIA]) VALUES (N'abaddon                       ', N'1    ', N'/з''bædзn/', N'âm ti địa ngục con quỷ')
INSERT [dbo].[TU] ([TUVUNG], [MALOAI], [PHIENAM], [NGHIA]) VALUES (N'abalone                       ', N'1    ', N'/æbз''louni/', N'bào ngư')
GO
INSERT [dbo].[TuDienKhachHang] ([Tu], [LoaiTu], [PhienAm], [Nghia], [TaiKhoan]) VALUES (N'a                             ', N'1    ', N'sadd', N'd', N'diem')
INSERT [dbo].[TuDienKhachHang] ([Tu], [LoaiTu], [PhienAm], [Nghia], [TaiKhoan]) VALUES (N'as                            ', N'1    ', N'as', N'as', N'thuyduong')
INSERT [dbo].[TuDienKhachHang] ([Tu], [LoaiTu], [PhienAm], [Nghia], [TaiKhoan]) VALUES (N'daddy                         ', N'1    ', N'd', N'bố', N'thuyduong')
INSERT [dbo].[TUYEUTHICH] ([TUVUNG], [MALOAI], [TAIKHOAN]) VALUES (N'abalone                       ', N'1    ', N'thuyduong')
INSERT [dbo].[TUYEUTHICH] ([TUVUNG], [MALOAI], [TAIKHOAN]) VALUES (N'abandon                       ', N'1    ', N'diem')
INSERT [dbo].[TUYEUTHICH] ([TUVUNG], [MALOAI], [TAIKHOAN]) VALUES (N'abandon                       ', N'1    ', N'thuyduong')
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KH_TT] FOREIGN KEY([DIACHI])
REFERENCES [dbo].[TINHTHANH] ([MATINH])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KH_TT]
GO
ALTER TABLE [dbo].[TU]  WITH CHECK ADD  CONSTRAINT [FK_TU_LOAI] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAITU] ([MALOAI])
GO
ALTER TABLE [dbo].[TU] CHECK CONSTRAINT [FK_TU_LOAI]
GO
ALTER TABLE [dbo].[TuDienKhachHang]  WITH CHECK ADD  CONSTRAINT [FK_TuDienKhachHang_KHACHHANG] FOREIGN KEY([TaiKhoan])
REFERENCES [dbo].[KHACHHANG] ([TAIKHOAN])
GO
ALTER TABLE [dbo].[TuDienKhachHang] CHECK CONSTRAINT [FK_TuDienKhachHang_KHACHHANG]
GO
ALTER TABLE [dbo].[TuDienKhachHang]  WITH CHECK ADD  CONSTRAINT [FK_TuDienKhachHang_LOAITU] FOREIGN KEY([LoaiTu])
REFERENCES [dbo].[LOAITU] ([MALOAI])
GO
ALTER TABLE [dbo].[TuDienKhachHang] CHECK CONSTRAINT [FK_TuDienKhachHang_LOAITU]
GO
ALTER TABLE [dbo].[TUYEUTHICH]  WITH CHECK ADD  CONSTRAINT [FK_TUYT_KH] FOREIGN KEY([TAIKHOAN])
REFERENCES [dbo].[KHACHHANG] ([TAIKHOAN])
GO
ALTER TABLE [dbo].[TUYEUTHICH] CHECK CONSTRAINT [FK_TUYT_KH]
GO
ALTER TABLE [dbo].[TUYEUTHICH]  WITH CHECK ADD  CONSTRAINT [FK_TUYT_LOAI] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAITU] ([MALOAI])
GO
ALTER TABLE [dbo].[TUYEUTHICH] CHECK CONSTRAINT [FK_TUYT_LOAI]
GO
ALTER TABLE [dbo].[TUYEUTHICH]  WITH CHECK ADD  CONSTRAINT [FK_TUYT_TU] FOREIGN KEY([TUVUNG], [MALOAI])
REFERENCES [dbo].[TU] ([TUVUNG], [MALOAI])
GO
ALTER TABLE [dbo].[TUYEUTHICH] CHECK CONSTRAINT [FK_TUYT_TU]
GO
